.ao0000, .aq0000, .aq0000-part{	
	border-color:olive!important;	
	border-bottom: solid 1px;
}

.cc, .cs{
	border-color:pink!important;	
	border-bottom: solid 1px;
}

.di0000, .da0000{
	border-color:purple!important;	
	border-bottom: solid 1px;
}

.de0000, .dp0000, .dt0000, .i{
	border-color: aqua!important;
	border-bottom: solid 1px;	
}

.nc00000, .nc0n000, .nc0p000, .nc0s000, .np00000{
	border-color:blue!important;	
	border-bottom: solid 1px;	
}

.p0000000, .pd000000, .pe000000, .pp000000,
.pr000000, .pt000000, .px000000, .dd0000
{	
	border-color:grey!important;	
	border-bottom: solid 1px;
}

.dn0000, .pi000000, .pn000000{
	border-color: yellow!important;
	border-bottom: solid 1px;	
}

.rg, .rn{
	border-color: red!important;
	border-bottom: solid 1px;
}

.sp000{
	border-color:oranpe!important;	
	border-bottom: solid 1px;
}

.vag0000, .vaic000, .vaif000, .vaii000, .vaip000, .vais000, 
.vam0000, .van0000, .vap0000, .vasi000, .vasp000,
 
.vmg0000, .vmic000, .vmif000, .vmii000, .vmip000, .vmis000,
.vmm0000, .vmn0000, .vmp0000, .vmsi000, .vmsp000, 

.vsg0000, .vsic000, .vsif000, .vsii000, .vsip000, .vsis000
.vsm0000, .vsn0000, .vsp0000, .vssi000, .vssp000
{
	border-color:lightgreen!important;
	border-bottom: solid 1px;	
}

.w, .z0, .zm, .zu{
	border-color:black!important;	
	border-bottom: solid 1px;	
}


#analyze{
	position:relative;
	margin:0 2%;
}



div[id = 'analyze'] span{
	font-size:1.25em;
	line-height:30px;
	white-space: nowrap;
}

div[id = 'analyze'] span:hover{  
	position: static;
	font-weight:bold;
	padding:3px;
	border:solid 2px;
	
}

div[class = 'pos']{
	display: block;
  	position: absolute;
	z-index: 9999;
	font-size:0.7em;
	width: auto;
	height: auto;
	white-space:nowrap;
  	padding: 0.2em 0.5em;
  	color: #FFFFFF;
  	background: #c72439;
  	border-radius: 0.5em;  	
}



