<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="#{title}"></title>
	</head>
	<body>
		<div align="center">
			<h1>ユーザ登録</h1>
				<table th:object="${user}">
					<tr>
						<th align="right">名前:</th>
						<td th:text="*{name}"></td>
					</tr>
					<tr>
						<th align="right">パスワード:</th>
						<td th:text="セキュリティのため表示されません"></td>
					</tr>
					<tr>
						<th align="right">メールアドレス:</th>
						<td th:text="*{email}"></td>
					</tr>
				</table>
			<div style="display:inline-flex;">
				<form th:action="@{/Registration}" method="post">
					<button type="submit">登録内容を変更する</button>
				</form>
				<form th:action="@{/Registration/result}" method="post">
					<input type="hidden" th:value="${token}" />
					<button type="submit">この内容で登録</button>
				</form>
			</div>
		</div>
	</body>
</html>