<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="#{title}"></title>
	</head>
	<body>
		<div align="center">
			<h1>ユーザ情報</h1>
				<table>
					<tr>
						<th align="right">名前:</th>
						<td><span th:text="${user.name}" ></span></td>
					</tr>
					<tr>
						<th align="right">メールアドレス:</th>
						<td><span th:text="${user.email}" ></span></td>
					</tr>
				</table>
			<div style="display:inline-flex;">
			<form th:action="@{/mypage/update}" method="post">
				<button type="submit">修正する</button>
			</form>
			<form th:action="@{/mypage/update/complete}" method="post">
				<button type="submit">この内容で確定する</button>
			</form>
			</div><br />
			<br />
		<a th:href="@{/}" th:text="#{return.top}"></a>	
		</div>
	</body>
</html>