<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="#{title}"></title>
	</head>
	<body>
		<div align="center">
			<h1>NewsLink</h1>
			<p>Google News が提供している各言語のニュースへのリンクがあります。</p>
			<span>リンク先の記事をコピーし解析ページにペーストしてお使いください</span>
			<br />
			<p th:each="key:${lang}">
				<a href="News.html" th:href="@{'/news/' + ${key.key}}" th:text="${key.value}">外国語</a>
			</p>			
			<form action="/news/original" th:object="${news}">
				<div>***こちらに任意のRSSのリンクを入力するとリンクが取り出せます***</div>
				<input type="text" name="url" size="70" placeholder="RSSのリンクを入力してください" /><br />
				<div style="font-size: small;color:red;" th:if="${error != null}" th:text="${error}"></div>
				<button type="submit">取得</button>
			</form>
			<p>
				<a href="javascript:window.close()" onclick="window.close()" th:text="Newslinkを閉じる"></a>
			</p>			
		</div>
	</body>
</html>