<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="#{title}"></title>
	</head>
	<body>
		<div align="center">
			<h1>お問い合わせフォーム</h1>
			<p>ご意見、ご要望、改善点、バグなどがありましたらご報告ください</p>
			<form th:action="@{/contact/confirm}" method="post">
				<table>
				<tr>
					<th align="center">名前:</th>
					<td align="left">
						<input name="name" th:value="${contact.name}" placeholder="名前(必須)"/>
					</td>
				</tr>
				<tr>
					<th>件名:</th>
					<td><input style="width:350px;" name="subject" placeholder="件名" th:value="${contact.subject}" /></td>
				</tr>
				<tr>
					<th>要件:</th>
					<td>
						<textarea style="width:350px;height:400px;" name="text" th:text="${contact.text}" placeholder="お問い合わせ内容をお書きください(必須)"></textarea>
					</td>
				</tr>
				</table>
				<button type="submit" th:text="OK"></button>
			</form>
		<br />
		<div><a th:href="@{/}" th:text="#{return.top}"></a></div>
		</div>
	</body>
</html>